## Getting started with data extraction

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Reading data from a CSV file

In [ ]:
df = pd.read_csv('./datasets/h9gi-nx95.csv')

In [ ]:
df.head()

### Reading data from a PARQUET file

In [ ]:
df_parquet = pd.read_parquet('./datasets/yellow_tripdata_2022-01.parquet')

In [ ]:
df_parquet.head()

### Reading data from an API

In [ ]:
# import api-related python modules
import json
import requests
# import certifi
# import urllib3
# from urllib3 import request

In [ ]:
url = 'https://data.cityofnewyork.us/resource/h9gi-nx95.json?$limit=500'

In [ ]:
apt_status = requests.get(url).status_code
print(apt_status)

if apt_status == 200:
    df_api = pd.json_normalize(requests.get(url).json())
else:
    df_api = pd.DataFrame()

In [ ]:
df_api.head()

## Extraction script prototype

In [4]:
# Import modules
import sqlite3
import requests
import pandas as pd
import logging
import json

logger = logging.getLogger(__name__)

# extract the data from the parquet file
def source_data_from_parquet(parquet_file_name):
    try:
        df_parquet = pd.read_parquet(parquet_file_name)
        logger.info(f'{parquet_file_name} : extracted {df_parquet.shape[0]} records from the parquet file.')
    except Exception as e:
        logger.exception(f'{parquet_file_name} : - exception {e} encountered while extracting the parquet file.')
        df_parquet = pd.DataFrame()
    return df_parquet


# extract the data from the csv file
def source_data_from_csv(csv_file_name):
    try:
        df_csv = pd.read_csv(csv_file_name)
        logger.info(f'{csv_file_name} : extracted {df_csv.shape[0]} records from the csv file.')
    except Exception as e:
        logger.exception(f'{csv_file_name} : - exception {e} encountered while extracting the csv file.')
        df_csv = pd.DataFrame()

    return df_csv


# extract the data from the api
def source_cata_from_api(api_endpoint):
    try:
        response = requests.get(api_endpoint)
        apt_status = response.status_code
        if apt_status == 200:
            logger.info(f'{apt_status} - ok : while invoking the api {api_endpoint}.')
            df_api = pd.json_normalize(response.json())
            logger.info(f'{apt_status} - extracted {df_api.shape[0]} records from the api.')
        else:
            logger.exception(f'{apt_status} - error : while invoking the api {api_endpoint}.')
            df_api = pd.DataFrame()
    except Exception as e:
        logger.exception(f'{apt_status} : - exception {e} encountered while reading the data from the api.')
        df_api = pd.DataFrame()
    return df_api

# extract the data from the sqlite database
def source_data_from_table(db_name, table_name):
    try:
        with sqlite3.connect(db_name) as conn:
            df_table = pd.read_sql(f'SELECT * FROM {table_name}', conn)
            logger.info(f'{db_name} - read {df_table.shape[0]} records from the table {table_name}.')
    except Exception as e:
        logger.info(f'{db_name} : - exception {e} encountered while reading data from the table {table_name}.')
        df_table = pd.DataFrame()
    return df_table


# extract the data from a web page
def source_data_from_webpage(web_page_url, matching_keyword):
    try:
        df_html = pd.read_html(web_page_url, match=matching_keyword)
        df_html = df_html[0]
        logger.info(f'{web_page_url} : - read {df_html.shape[0]} records from the page {web_page_url}.')
    except Exception as e:
        logger.exception(f'{web_page_url} : - exception {e} encountered while reading data from the page.')
        df_html = pd.DataFrame()
    return df_html


# main function
def extracted_data():
    local_path = './datasets/'
    parquet_file_name = f'{local_path}yellow_tripdata_2022-01.parquet'
    csv_file_name = f'{local_path}h9gi-nx95.csv'
    api_endpoint = 'https://data.cityofnewyork.us/resource/h9gi-nx95.json?$limit=500'
    db_name = f'{local_path}movies.sqlite'
    table_name = 'movies'
    web_page_url = 'https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)'
    matching_keyword = 'by country'

    df_parquet, df_csv, df_api, df_table, df_html = (source_data_from_parquet(parquet_file_name),
                                                     source_data_from_csv(csv_file_name),
                                                     source_cata_from_api(api_endpoint),
                                                     source_data_from_table(db_name, table_name),
                                                     source_data_from_webpage(web_page_url, matching_keyword))

    return df_parquet, df_csv, df_api, df_table, df_html

In [5]:
extracted_data()

(         VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
 0               1  2022-01-01 00:35:40   2022-01-01 00:53:29              2.0
 1               1  2022-01-01 00:33:43   2022-01-01 00:42:07              1.0
 2               2  2022-01-01 00:53:21   2022-01-01 01:02:19              1.0
 3               2  2022-01-01 00:25:21   2022-01-01 00:35:23              1.0
 4               2  2022-01-01 00:36:48   2022-01-01 01:14:20              1.0
 ...           ...                  ...                   ...              ...
 2463926         2  2022-01-31 23:36:53   2022-01-31 23:42:51              NaN
 2463927         2  2022-01-31 23:44:22   2022-01-31 23:55:01              NaN
 2463928         2  2022-01-31 23:39:00   2022-01-31 23:50:00              NaN
 2463929         2  2022-01-31 23:36:42   2022-01-31 23:48:45              NaN
 2463930         2  2022-01-31 23:46:00   2022-02-01 00:13:00              NaN

          trip_distance  RatecodeID store_and_fwd_flag  PULocationID  \
 0                 3.80         1.0                  N           142
 1                 2.10         1.0                  N           236
 2                 0.97         1.0                  N           166
 3                 1.09         1.0                  N           114
 4                 4.30         1.0                  N            68
 ...                ...         ...                ...           ...
 2463926           1.32         NaN               None            90
 2463927           4.19         NaN               None           107
 2463928           2.10         NaN               None           113
 2463929           2.92         NaN               None           148
 2463930           8.94         NaN               None           186

          DOLocationID  payment_type  fare_amount  extra  mta_tax  tip_amount  \
 0                 236             1        14.50    3.0      0.5        3.65
 1                  42             1         8.00    0.5      0.5        4.00
 2                 166             1         7.50    0.5      0.5        1.76
 3                  68             2         8.00    0.5      0.5        0.00
 4                 163             1        23.50    0.5      0.5        3.00
 ...               ...           ...          ...    ...      ...         ...
 2463926           170             0         8.00    0.0      0.5        2.39
 2463927            75             0        16.80    0.0      0.5        4.35
 2463928           246             0        11.22    0.0      0.5        2.00
 2463929           164             0        12.40    0.0      0.5        0.00
 2463930           181             0        25.48    0.0      0.5        6.28

          tolls_amount  improvement_surcharge  total_amount  \
 0                 0.0                    0.3         21.95
 1                 0.0                    0.3         13.30
 2                 0.0                    0.3         10.56
 3                 0.0                    0.3         11.80
 4                 0.0                    0.3         30.30
 ...               ...                    ...           ...
 2463926           0.0                    0.3         13.69
 2463927           0.0                    0.3         24.45
 2463928           0.0                    0.3         16.52
 2463929           0.0                    0.3         15.70
 2463930           0.0                    0.3         35.06

          congestion_surcharge  airport_fee
 0                         2.5          0.0
 1                         0.0          0.0
 2                         0.0          0.0
 3                         2.5          0.0
 4                         2.5          0.0
 ...                       ...          ...
 2463926                   NaN          NaN
 2463927                   NaN          NaN
 2463928                   NaN          NaN
 2463929                   NaN          NaN
 2463930                   NaN          NaN

 [2463931 rows x 19 columns],
                   crash_date crash_time   borough  zip_code   latitude  \
 0    2021-09-11T00:00:00.000       2:39       NaN       NaN        NaN
 1    2022-03-26T00:00:00.000      11:45       NaN       NaN        NaN
 2    2022-06-29T00:00:00.000       6:55       NaN       NaN        NaN
 3    2021-09-11T00:00:00.000       9:35  BROOKLYN   11208.0  40.667202
 4    2021-12-14T00:00:00.000       8:13  BROOKLYN   11233.0  40.683304
 ..                       ...        ...       ...       ...        ...
 495  2021-04-16T00:00:00.000      20:27       NaN       NaN  40.668507
 496  2021-04-15T00:00:00.000      18:25  BROOKLYN   11203.0  40.638268
 497  2021-04-12T00:00:00.000      16:08  BROOKLYN   11221.0  40.696735
 498  2021-04-14T00:00:00.000      11:55       NaN       NaN  40.870823
 499  2021-04-14T00:00:00.000       1:30       NaN       NaN  40.574867

      longitude                        location           on_street_name  \
 0          NaN                             NaN    WHITESTONE EXPRESSWAY
 1          NaN                             NaN  QUEENSBORO BRIDGE UPPER
 2          NaN                             NaN       THROGS NECK BRIDGE
 3   -73.866500    \n,  \n(40.667202, -73.8665)                      NaN
 4   -73.917274  \n,  \n(40.683304, -73.917274)          SARATOGA AVENUE
 ..         ...                             ...                      ...
 495 -73.779625  \n,  \n(40.668507, -73.779625)               140 AVENUE
 496 -73.931870   \n,  \n(40.638268, -73.93187)                      NaN
 497 -73.934810   \n,  \n(40.696735, -73.93481)                 BROADWAY
 498 -73.872100    \n,  \n(40.870823, -73.8721)      BRONX RIVER PARKWAY
 499 -74.000690   \n,  \n(40.574867, -74.00069)           WEST 35 STREET

        off_street_name             cross_street_name  ...  \
 0            20 AVENUE                           NaN  ...
 1                  NaN                           NaN  ...
 2                  NaN                           NaN  ...
 3                  NaN       1211      LORING AVENUE  ...
 4       DECATUR STREET                           NaN  ...
 ..                 ...                           ...  ...
 495         155 STREET                           NaN  ...
 496                NaN  1411      SCHENECTADY AVENUE  ...
 497  STUYVESANT AVENUE                           NaN  ...
 498                NaN                           NaN  ...
 499                NaN                           NaN  ...

      contributing_factor_vehicle_2  contributing_factor_vehicle_3  \
 0                      Unspecified                            NaN
 1                              NaN                            NaN
 2                      Unspecified                            NaN
 3                              NaN                            NaN
 4                              NaN                            NaN
 ..                             ...                            ...
 495                            NaN                            NaN
 496                    Unspecified                            NaN
 497                    Unspecified                            NaN
 498                    Unspecified                            NaN
 499                    Unspecified                            NaN

      contributing_factor_vehicle_4  contributing_factor_vehicle_5  \
 0                              NaN                            NaN
 1                              NaN                            NaN
 2                              NaN                            NaN
 3                              NaN                            NaN
 4                              NaN                            NaN
 ..                             ...                            ...
 495                            NaN                            NaN
 496                            NaN                            NaN
 497                            NaN                            NaN
 498                            NaN                            NaN
 499                            NaN                            NaN

      collision_id                   vehicle_type_code1  \
 0         4455765                                Sedan
 1         4513547                                Sedan
 2         4541903                                Sedan
 3         4456314                                Sedan
 4         4486609                                  NaN
 ..            ...                                  ...
 495       4407945                                Sedan
 496       4408118                                Sedan
 497       4408242  Station Wagon/Sport Utility Vehicle
 498       4407563                                Sedan
 499       4408098                                Sedan

                       vehicle_type_code2  vehicle_type_code_3  \
 0                                  Sedan                  NaN
 1                                    NaN                  NaN
 2                          Pick-up Truck                  NaN
 3                                    NaN                  NaN
 4                                    NaN                  NaN
 ..                                   ...                  ...
 495                                  NaN                  NaN
 496  Station Wagon/Sport Utility Vehicle                  NaN
 497  Station Wagon/Sport Utility Vehicle                  NaN
 498                                  NaN                  NaN
 499                                Sedan                  NaN

     vehicle_type_code_4 vehicle_type_code_5
 0                   NaN                 NaN
 1                   NaN                 NaN
 2                   NaN                 NaN
 3                   NaN                 NaN
 4                   NaN                 NaN
 ..                  ...                 ...
 495                 NaN                 NaN
 496                 NaN                 NaN
 497                 NaN                 NaN
 498                 NaN                 NaN
 499                 NaN                 NaN

 [500 rows x 29 columns],
                   crash_date crash_time           on_street_name  \
 0    2021-09-11T00:00:00.000       2:39    WHITESTONE EXPRESSWAY
 1    2022-03-26T00:00:00.000      11:45  QUEENSBORO BRIDGE UPPER
 2    2022-06-29T00:00:00.000       6:55       THROGS NECK BRIDGE
 3    2021-09-11T00:00:00.000       9:35                      NaN
 4    2021-12-14T00:00:00.000       8:13          SARATOGA AVENUE
 ..                       ...        ...                      ...
 495  2021-04-16T00:00:00.000      20:27               140 AVENUE
 496  2021-04-15T00:00:00.000      18:25                      NaN
 497  2021-04-12T00:00:00.000      16:08                 BROADWAY
 498  2021-04-14T00:00:00.000      11:55      BRONX RIVER PARKWAY
 499  2021-04-14T00:00:00.000       1:30           WEST 35 STREET

        off_street_name number_of_persons_injured number_of_persons_killed  \
 0            20 AVENUE                         2                        0
 1                  NaN                         1                        0
 2                  NaN                         0                        0
 3                  NaN                         0                        0
 4       DECATUR STREET                         0                        0
 ..                 ...                       ...                      ...
 495         155 STREET                         0                        0
 496                NaN                         0                        0
 497  STUYVESANT AVENUE                         1                        0
 498                NaN                         0                        0
 499                NaN                         0                        0

     number_of_pedestrians_injured number_of_pedestrians_killed  \
 0                               0                            0
 1                               0                            0
 2                               0                            0
 3                               0                            0
 4                               0                            0
 ..                            ...                          ...
 495                             0                            0
 496                             0                            0
 497                             0                            0
 498                             0                            0
 499                             0                            0

     number_of_cyclist_injured number_of_cyclist_killed  ...  \
 0                           0                        0  ...
 1                           0                        0  ...
 2                           0                        0  ...
 3                           0                        0  ...
 4                           0                        0  ...
 ..                        ...                      ...  ...
 495                         0                        0  ...
 496                         0                        0  ...
 497                         0                        0  ...
 498                         0                        0  ...
 499                         0                        0  ...

                 cross_street_name location.latitude location.longitude  \
 0                             NaN               NaN                NaN
 1                             NaN               NaN                NaN
 2                             NaN               NaN                NaN
 3         1211      LORING AVENUE         40.667202           -73.8665
 4                             NaN         40.683304         -73.917274
 ..                            ...               ...                ...
 495                           NaN         40.668507         -73.779625
 496  1411      SCHENECTADY AVENUE         40.638268          -73.93187
 497                           NaN         40.696735          -73.93481
 498                           NaN         40.870823           -73.8721
 499                           NaN         40.574867          -74.00069

                                 location.human_address  \
 0                                                  NaN
 1                                                  NaN
 2                                                  NaN
 3    {"address": "", "city": "", "state": "", "zip"...
 4    {"address": "", "city": "", "state": "", "zip"...
 ..                                                 ...
 495  {"address": "", "city": "", "state": "", "zip"...
 496  {"address": "", "city": "", "state": "", "zip"...
 497  {"address": "", "city": "", "state": "", "zip"...
 498  {"address": "", "city": "", "state": "", "zip"...
 499  {"address": "", "city": "", "state": "", "zip"...

     contributing_factor_vehicle_3 vehicle_type_code_3  \
 0                             NaN                 NaN
 1                             NaN                 NaN
 2                             NaN                 NaN
 3                             NaN                 NaN
 4                             NaN                 NaN
 ..                            ...                 ...
 495                           NaN                 NaN
 496                           NaN                 NaN
 497                           NaN                 NaN
 498                           NaN                 NaN
 499                           NaN                 NaN

     contributing_factor_vehicle_4 vehicle_type_code_4  \
 0                             NaN                 NaN
 1                             NaN                 NaN
 2                             NaN                 NaN
 3                             NaN                 NaN
 4                             NaN                 NaN
 ..                            ...                 ...
 495                           NaN                 NaN
 496                           NaN                 NaN
 497                           NaN                 NaN
 498                           NaN                 NaN
 499                           NaN                 NaN

     contributing_factor_vehicle_5 vehicle_type_code_5
 0                             NaN                 NaN
 1                             NaN                 NaN
 2                             NaN                 NaN
 3                             NaN                 NaN
 4                             NaN                 NaN
 ..                            ...                 ...
 495                           NaN                 NaN
 496                           NaN                 NaN
 497                           NaN                 NaN
 498                           NaN                 NaN
 499                           NaN                 NaN

 [500 rows x 31 columns],
          id                            original_title     budget  popularity  \
 0     43597                                    Avatar  237000000         150
 1     43598  Pirates of the Caribbean: At World's End  300000000         139
 2     43599                                   Spectre  245000000         107
 3     43600                     The Dark Knight Rises  250000000         112
 4     43601                               John Carter  260000000          43
 ...     ...                                       ...        ...         ...
 4768  48395                               El Mariachi     220000          14
 4769  48396                                 Newlyweds       9000           0
 4770  48397                 Signed, Sealed, Delivered          0           1
 4771  48398                          Shanghai Calling          0           0
 4772  48399                         My Date with Drew          0           1

      release_date     revenue                                     title  \
 0      2009-12-10  2787965087                                    Avatar
 1      2007-05-19   961000000  Pirates of the Caribbean: At World's End
 2      2015-10-26   880674609                                   Spectre
 3      2012-07-16  1084939099                     The Dark Knight Rises
 4      2012-03-07   284139100                               John Carter
 ...           ...         ...                                       ...
 4768   1992-09-04     2040920                               El Mariachi
 4769   2011-12-26           0                                 Newlyweds
 4770   2013-10-13           0                 Signed, Sealed, Delivered
 4771   2012-05-03           0                          Shanghai Calling
 4772   2005-08-05           0                         My Date with Drew

       vote_average  vote_count  \
 0              7.2       11800
 1              6.9        4500
 2              6.3        4466
 3              7.6        9106
 4              6.1        2124
 ...            ...         ...
 4768           6.6         238
 4769           5.9           5
 4770           7.0           6
 4771           5.7           7
 4772           6.3          16

                                                overview  \
 0     In the 22nd century, a paraplegic Marine is di...
 1     Captain Barbossa, long believed to be dead, ha...
 2     A cryptic message from Bond’s past sends him o...
 3     Following the death of District Attorney Harve...
 4     John Carter is a war-weary, former military ca...
 ...                                                 ...
 4768  El Mariachi just wants to play his guitar and ...
 4769  A newlywed couple's honeymoon is upended by th...
 4770  "Signed, Sealed, Delivered" introduces a dedic...
 4771  When ambitious New York attorney Sam is sent t...
 4772  Ever since the second grade when he first saw ...

                                                 tagline     uid  director_id
 0                           Enter the World of Pandora.   19995         4762
 1        At the end of the world, the adventure begins.     285         4763